{% extends "layout.html.twig" %}

{% block otherStylesheet  %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}index.css" type="text/css" />
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}searcher.css" type="text/css" />
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/carousel.js"></script>
    <script type="text/javascript">
        function goTo(pagina) {
            $("#indexCouchinns").html("");
            $("#indexCouchLoading").show();

            $.post("{{ constant('PATH_URL') }}index.php?action=paginator", {"pagina": pagina}, null, "json")
                    .done(function (data, textStatus, jqXHR) {
                        $("#indexCouchLoading").hide();
                        $("#indexCouchinns").html(data.couchinns);
                        $("#indexPaginador nav ul:first").html(data.paginador);
                    });
        }
    </script>
{% endblock %}

{% block container %}
    {% include 'searcher.html.twig' %}
    <div id="couchinnsContainer" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-9">
                <div id="indexCouchLoading" class="col-md-12 text-center">
                    <img src="{{ constant('PATH_URL_IMG') }}loading6.gif" style="height: 150px;" alt="Cargando">
                </div>
                <div id="indexCouchinns">
                    {% for couch in couchs %}
                        {% include "couchtemplate.html.twig" with{'couch': couch} %}
                    {% endfor %}
                </div>
                <div id="indexPaginador" class="col-md-12 text-center">
                    <nav>
                        <ul class="pagination pagination-lg">
                            {% include "indexpaginador.html.twig" with{"pagActiva": pagActiva, "paginas": paginas} %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 containerPublicidad">
                {% include  "publicidad_1.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}