{% extends "layout.html.twig" %}

{% block otherStylesheet  %}
    <link rel="stylesheet" href="{{ constant('PATH_URL_CSS') }}index.css" type="text/css" />
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ constant('PATH_URL_VENDOR') }}twbs/bootstrap/js/carousel.js"></script>
{% endblock %}

{% block container %}
    <div id="searcher" class="row">
        <div class="col-md-3 col-md-offset-2 ">
            <h2>¿Cu&aacute;ndo piensas viajar?</h2>
            <h1><strong>Encontr&aacute; tu Couch</strong></h1>
            <form class="form-inline">
                <div class="col-md-12">
                    <div class="form-group col-md-5">
                        <label for="searcherIda">Ida</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="text" class="form-control" id="searcherIda" aria-describedby="searcherIdaStatus">
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="searcherVuelta">Vuelta</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                            <input type="text" class="form-control" id="searcherVuelta" aria-describedby="searcherVueltaStatus">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg active">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ constant('PATH_URL_IMG') }}foto1.png" style="height:347px; width: 796px;" alt="Logo de Couchinn">
                        <div class="carousel-caption">
                            <blockquote class="blockquote-reverse">
                                <p>"Porque no hay nada m&aacute;s lindo que viajar y sentirte como en casa..."</p>
                                <footer>Maria Luisa Herrera <cite title="Source Title"><strong>MERCEDES</strong></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ constant('PATH_URL_IMG') }}foto2.png" style="height:347px; width: 796px;" alt="Logo de Couchinn">
                        <div class="carousel-caption">
                            <blockquote class="blockquote-reverse">
                                <p>"Hermosos lugares...hermosas personas..."</p>
                                <footer>Juan Higuerira <cite title="Source Title"><strong>CONCORDIA</strong></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ constant('PATH_URL_IMG') }}foto3.png" style="height:347px; width: 796px;" alt="Logo de Couchinn">
                        <div class="carousel-caption">
                            <blockquote class="blockquote-reverse">
                                <p>"No veo la hora de volver el año que viene..."</p>
                                <footer>Liliana  Medina <cite title="Source Title"><strong>CAPITAL FEDERAL</strong></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ constant('PATH_URL_IMG') }}foto4.png" style="height:347px; width: 796px;" alt="Logo de Couchinn">
                        <div class="carousel-caption">
                            <blockquote class="blockquote-reverse">
                                <p>"La mejor forma de viajar..."</p>
                                <footer>Luis Su&aacute;rez <cite title="Source Title"><strong>LA PLATA</strong></cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div id="couchinnsContainer" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" role="alert">
                <h1 class="text-center">
                    <strong>Objeto no encontrado!!</strong>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}